name: Integration Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'

    - name: Start services
      run: docker compose up -d

    - name: Run integration tests
      run: go test -v -tags=integration ./integration/...

    - name: Stop services
      if: always()
      run: docker compose down
