name: Go Tests

on:
  push:
    branches: 
      - main
  pull_request:
    branches:
      - '**'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: 'go.mod'

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...

    - name: Lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: v2.4.0

    - name: Vendorcheck
      shell: bash
      run: |
        go mod tidy
        go mod vendor
        git diff --exit-code
